.showModal {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(92, 90, 90, 0.927);
    z-index: 6;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(43, 38, 38, 0.801);
}


.formModal {
    width: 370px;
    margin: 50px auto;
    background: rgb(255, 255, 255);
    padding: 35px;
    margin-top: 15%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 12;
}

.valider {
    display: flex;
    justify-content: space-around;
}


.Modifier:hover {
    background-color: white;
    color: rgb(13, 87, 226);
    font-weight: bold;

}

.Modifier {
    font-weight: bold;
    height: 15%;
    transition: all 0.7s ease-in-out;
    border: 2px rgba(13, 116, 226, 0.492) solid;
}

.Annuller {
    font-weight: bold;
    height: 15%;
    background-color: white;
    color: gray;
    border: 2px gray solid;
    transition: all 0.7s ease-in-out;

}

.Annuller:hover {
    background-color: white;
    color: rgb(201, 177, 20);
    border: 2px rgb(201, 177, 20) solid;
    font-weight: bold;
}



.fade-enter-active {
    transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
}

.fade-enter-to {
    opacity: 1;
}

.fade-leave-from {
    opacity: 1;
}

.fade-leave-active {
    transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
}

.fade-leave-to {
    opacity: 0;
}

.v-enter-from {
    opacity: 0;
}

.v-enter-active {
    transition: opacity 1s ease;
}

.v-enter-to {
    opacity: 1;
}

.v-leave-from {
    opacity: 1;
}

.v-leave-active {
    transition: opacity 0.2s ease;
}

.v-leave-to {
    opacity: 0;
}